{% extends 'base.html'%}
{% import 'macros.html' as macro%}
{% block content %}
<h1 class="page-header text-center"> Movie Of The Day <a class="btn btn-info" href="{{url_for('main.genres')}}">Movie Genres</a></h1>

<div class="container">
    <form>
        <input type="text" name="movie_query" placeholder="Search for a Movie" class="form-control">
        <input type="submit"  value="Submit" class="btn btn-default">
    </form>

</div>

<!-- Popular movie -->

<div class="container-fluid">
    
    <h2 class="text-center" style="color: Teal; font-size:30pt"> Popular Movies</h2>
    <ul>
        {{ macro.displayMovieList(popular)}}
    </ul>
</div>

<!-- Upcoming movie  -->
<div class="container-fluid">
    <h2 class="text-center" style="color: Teal; font-size:30pt"> Upcoming Movies </h2>
<ul>
    {{ macro.displayMovieList(upcoming)}}
</ul>
</div>


<!-- Now showing movie -->
<div class="container-fluid">
    <h2 class="text-center" style="color: Teal; font-size:30pt">Now Showing</h2>
    <ul>
        {{ macro.displayMovieList(now_showing)}}
    </ul>
</div>





{% endblock%}

